/* DEBUG */
.debug {
  background-color: #c60b0b46;
  border: 1px solid black;
  min-height: 70px;
}
/* /DEBUG */

/* GENERAL */

:root {
  --bs-blue: #3E76D2 ;
  --bs-cyan: #1A72E8;
  --bs-red: #DC3545;
  --bs-yellow: #ffc109;
  --bs-orange: #f26451dc;
  --bs-grey: #E5E5E5;
  --bs-green: #1A8754;
}

 a {
  color: white ;
  text-decoration: none;
}


/* /GENERAL */

/* header */
header{
  background-color: #F8F9FA;
  min-height: 80px;
}
 .col-8 form input,
 .col-8 form button {
background-color: var(--bs-grey) ;
}

input::placeholder{
  font-size: 13px
}

.fa-bell {
  color: #ffc109;
}
.pm-logo-mobile
{
 height: 50px;  
 left: 0;

}
.navbar-collapse {
  width: fit-content;
}
.pm-logo {
 height: 30px;

}

.pm-container {
  
  background-color: #1A72E8;
}
/* /header */


/* Body */

.pm-side-menu{
  width: 150px;
}

.pm-side-small-menu {
  width: 70px;
}
.pm-side-menu,
.pm-side-small-menu
{
  height: calc(100vh - 80px);
  background-image: url(../img/sidebar-bg.png);
  background-color: #041E34;
  bottom: 0;
}

.pm-side-top {
  height: calc(100% - 50px);
}

.offcanvas {
  --bs-offcanvas-width: 700px;
}

/* main */
main {
  padding-top: 80px;
  margin-left: 150px;
}
.pm-tags,
.pm-plus {
  font-size: 10px;
  border-radius: 20px;
  background-color: #041e346e;
  color: white;
  padding: 3px 8px;
}
.pm-plus {
  
  border-radius: 50%;
  padding: 6px 8px;
  
}

.fa-angles-right {
  font-size: 13px;
}

.pm-next-classes div,
.pm-faq div:first-child{
 background-color: #F7F7F7;
}

.pm-tag-class {
  border-radius: 50%;
  font-size: 15px;
  padding:6px 2px;
  margin-right: 10px;
  background-color: var(--bs-orange) !important;
}
.pm-tag-stats {
  padding: 3px 5px ;
  border-radius: 7px;
  color: white;
  font-size: 10px;
}

.pm-done {
  background-color: #1A8754;
}

.pm-process {
  background-color: #ffc109;
}

.pm-failed {
  background-color: #DC3545;
}

.pm-actions {
padding: 0;
}


tr td:first-child {
  width: 60%;
}


/* /main */


/* /Body */

@media screen and (max-width: 960px ){
  main {
    margin-left: 70px;
  }

  tr td:first-child {
    width: 40%;
  }
}

@media screen and (min-width: 720px ){
 

  tr td:first-child {
    width: 50%;
  }
}

